markitdown[all]
trafilatura
playwright
datasketch
python-docx
openpyxl
pandas
python-pptx
langchain_community
langchain_ollama
ragas
datasets
pypdf
rapidfuzz
markdown
newspaper4k
requests
urllib3
charset_normalizer
unstructured
langchain
PyMuPDF
langchain-text-splitters
transformers
ollama
docx2txt
torch
langchain_experimental
deepeval
docarray
chromadb
